@{
    ViewBag.Title = "About EMS";
}
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <div>
            An employee scheduling system
            to management employees’ schedule and
            create interaction between managers/supervisors
            and employees as to making requests and reviewing
            these requests. Also, this system provides report
            to review employee dedication to their duties.
        </div>
        <div>
            Created by Michael Anetor.
        </div>
    </div>
