@{
    ViewBag.Title = "Contact Us";
}
<div class="jumbotron text-center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Information Technology Solutions<br />
        Faculty of Applied Science and Technology<br />
        Humber College
    </address>

    <address>
        <strong>Michael Anetor:</strong>   <a href="mailto:michellanet@gmail.com">support@ems.com</a><br />
    </address>
    </div>
